@import './vars';

header {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-block: .5rem;
  h1 {
    text-align: right;
    font-size: 2.5rem;
    color: $accent;
    font-family: $font-primary;
  }
  img {
    height: 100%;
    margin-left: 1.5rem;
  }
}