// vars
$bg-color: #0b525b;
$bg-color-clear: #14b9a3;
$flag-color: #4d194d;
$bomb: #ef476f;
$deny: #ec2251;
$shadow: #1b3a4b;
$clear: white;
$black: black;

$accent: #34c16a;
$bg-color: #7420d5;
$bg-color-secondary: #9C21BD;
$color-primary: #0094d1;
$color-secondary: #9bd9e8;
$color-deny: #ec2251;
$option-bg-color: rgba($color: $color-primary, $alpha: .7);

// typography

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Inria+Sans:ital,wght@0,700;1,700&display=swap');

$fz-10: 1rem;
$fz-12: 1.2rem;
$fz-14: 1.4rem;
$fz-16: 1.6rem;

$font-primary: 'Inria Sans', sans-serif;
$font-secondary: 'Inconsolata', monospace;

// pxs

$px5: 5px;