*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Nanum Gothic", sans-serif;
  background-color: #0b525b;
  color: #ef476f;
  background-image: url("./imgs/wave-haikei.svg");
  background-size: cover;
  position: relative;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
main .options {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .options .options_wrap {
  margin-bottom: 1.6rem;
}
main .options .options_wrap label {
  display: block;
  margin-bottom: 0.2rem;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}
main .options .options_wrap select {
  width: 100%;
  background-color: #ef476f;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}
main .options button {
  padding: 0.8rem 1rem;
  background: #ef476f;
  background: linear-gradient(63deg, #ef476f 11%, rgba(239, 71, 111, 0.2889356426) 77%);
  color: white;
  font-size: 1.2rem;
  text-transform: capitalize;
  border-radius: 80px;
  border: none;
  cursor: pointer;
  margin-bottom: 1.2rem;
  transition: all 0.2s ease-out;
}
main .options button:hover {
  color: #ef476f;
  background: #4d194d;
  background: linear-gradient(63deg, rgba(77, 25, 77, 0.3141457267) 25%, #4d194d 77%);
}

header {
  display: flex;
  padding: 2rem 3rem;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 3.5rem;
  transform: rotate(-2deg);
  text-shadow: 2px 5px #1b3a4b;
}

.displays {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
  padding-right: 2rem;
}

.display_wrap {
  padding: 5px;
  background: #0b525b;
  background: linear-gradient(128deg, #0b525b 11%, #ef476f 90%);
  border-radius: 25px;
  opacity: 0.7;
}

.display_container {
  background-color: #4d194d;
  border-radius: 20px;
  padding: 2.2rem;
  font-weight: bold;
  color: white;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
}
.display_container span {
  margin-left: 1.5rem;
  background: rgba(0, 0, 0, 0.3);
  aspect-ratio: 1/1;
  width: 40px;
  display: grid;
  place-content: center;
  border-radius: 8px;
}

#boardgame {
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 1/1;
  max-height: 85vh;
}

#boardgame.over {
  pointer-events: none;
}

.cell {
  background-color: #1b3a4b;
  border: 1px solid #ef476f;
  display: grid;
  place-content: center;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
}

.cell.over {
  pointer-events: none;
}

.cell:hover {
  filter: brightness(200%);
}

.cell.bomb {
  background-color: #ef476f;
  color: #1b3a4b;
  pointer-events: none;
  font-size: 2rem;
}

.cell.not {
  background-color: #4d194d;
  cursor: default;
}

.cell.not:hover {
  filter: brightness(100%);
}

.cell.flagged {
  background-color: #ef476f;
  font-size: 2.6rem;
  background-image: url("./imgs/flag-solid.svg");
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

.cell.flagged:hover {
  filter: brightness(130%);
}

footer {
  text-align: center;
  height: 80px;
  line-height: 80px;
}

/*# sourceMappingURL=style.css.map */
