@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Inria+Sans:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Inria+Sans:ital,wght@0,700;1,700&display=swap");
:root {
  --bomb: rgb(239, 71, 111);
  --shadow: rgb(27, 58, 75);
  --text-color: rgb(255, 255, 255);
  --body-bg: rgb(0, 18, 32);
  --black: rgb(0, 0, 0);
  --accent: rgb(52, 193, 106);
  --bg-color: #7420d5;
  --bg-color-secondary: #9C21BD;
  --bg-color-dark: rgb(77, 25, 77);
  --modal-overlay-bg: rgba(77, 25, 77, .45);
  --color-primary: rgb(0, 148, 209);
  --color-secondary: #9bd9e8;
  --color-deny: rgb(236, 34, 81);
  --option-bg-color: rgba(0, 148, 209, .55);
  --cells-bg-def: rgba(0, 148, 209, .2);
  --cells-bg-not: rgba(77, 25, 77, .7);
  --cells-bg-flag: rgba(52, 193, 106, .75);
  --button-active-bg: rgba(52, 193, 106, .8);
  --button-muted-bg: rgba(236, 34, 81, .8);
  --cells-color-1:
  --fz-10: 1rem;
  --fz-12: 1.2rem;
  --fz-14: 1.4rem;
  --fz-16: 1.6rem;
  --font-primary: "Inria Sans", sans-serif;
  --font-secondary: "Inconsolata", monospace;
  --px5: 5px;
}
:root.light {
  --text-color: #001220;
  --body-bg: white;
}

:root {
  --bomb: rgb(239, 71, 111);
  --shadow: rgb(27, 58, 75);
  --text-color: rgb(255, 255, 255);
  --body-bg: rgb(0, 18, 32);
  --black: rgb(0, 0, 0);
  --accent: rgb(52, 193, 106);
  --bg-color: #7420d5;
  --bg-color-secondary: #9C21BD;
  --bg-color-dark: rgb(77, 25, 77);
  --modal-overlay-bg: rgba(77, 25, 77, .45);
  --color-primary: rgb(0, 148, 209);
  --color-secondary: #9bd9e8;
  --color-deny: rgb(236, 34, 81);
  --option-bg-color: rgba(0, 148, 209, .55);
  --cells-bg-def: rgba(0, 148, 209, .2);
  --cells-bg-not: rgba(77, 25, 77, .7);
  --cells-bg-flag: rgba(52, 193, 106, .75);
  --button-active-bg: rgba(52, 193, 106, .8);
  --button-muted-bg: rgba(236, 34, 81, .8);
  --cells-color-1:
  --fz-10: 1rem;
  --fz-12: 1.2rem;
  --fz-14: 1.4rem;
  --fz-16: 1.6rem;
  --font-primary: "Inria Sans", sans-serif;
  --font-secondary: "Inconsolata", monospace;
  --px5: 5px;
}
:root.light {
  --text-color: #001220;
  --body-bg: white;
}

header {
  width: 80%;
  margin-inline: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-block: 0.5rem;
}
header h1 {
  text-align: right;
  font-size: 2.5rem;
  color: var(--accent);
  font-family: var(--font-primary);
}
header img {
  height: 100%;
  margin-left: 1.5rem;
}
header button {
  border: none;
  border-radius: var(--px5);
  padding: 0.4rem 0.7rem;
  margin-right: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  text-decoration: underline;
  transition: cubic-bezier(0.6, 0.04, 0.98, 0.335) 0.15s;
}
header button.active {
  background-color: var(--button-active-bg);
}
header button.active:hover {
  background-color: var(--accent);
}
header button.muted {
  background-color: var(--button-muted-bg);
}
header button.muted:hover {
  background-color: var(--color-deny);
}

.menu {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.menu .reactions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--fz-16);
  font-size: 1.8rem;
  font-family: var(--font-primary);
  color: var(--accent);
}
.menu .reactions #reactions_text.bad {
  color: var(--color-deny);
}
.menu .reactions #icon {
  width: 20%;
  aspect-ratio: 1;
}
.menu .reactions #icon #move_react {
  width: 100%;
}
.menu .options_wrap .optionGroup {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.menu .options_wrap .optionGroup .singleOption {
  margin-bottom: 1.5rem;
  width: 35%;
}
.menu .options_wrap .optionGroup .singleOption.long {
  width: 65%;
  padding-left: 1rem;
}
.menu .options_wrap .optionGroup .singleOption.full {
  width: 100%;
}
.menu .options_wrap .optionGroup .singleOption label {
  margin-bottom: 1rem;
}
.menu .options_wrap .optionGroup .singleOption .display_container {
  background-color: var(--option-bg-color);
  border-radius: var(--px5);
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
}
.menu .options_wrap .optionGroup select {
  width: 100%;
  background-color: var(--option-bg-color);
  color: var(--text-color);
  padding: 0.8rem 1rem;
  border: none;
  border-radius: var(--px5);
  font-size: var(--fz-12);
}
.menu .options_wrap .optionGroup #history_display {
  overflow-y: auto;
  max-height: 190px;
}
.menu .options_wrap .optionGroup #history_display .singleMatch {
  display: flex;
  align-items: center;
}
.menu .options_wrap .optionGroup #history_display .singleMatch:not(:last-child) {
  margin-bottom: 0.8rem;
}
.menu .options_wrap .optionGroup #history_display .singleMatch img {
  height: 20px;
  aspect-ratio: 1;
  margin-right: 1rem;
}
.menu .options_wrap .optionGroup #history_display .singleMatch span {
  margin-right: 1rem;
}
.menu .actions {
  display: flex;
}
.menu .actions button {
  padding: 0.35rem;
  color: var(--text-color);
  font-size: var(--fz-12);
  text-transform: capitalize;
  border-radius: var(--px5);
  border: none;
  cursor: pointer;
  margin-bottom: var(--fz-12);
  transition: all 0.2s ease-out;
  display: grid;
  place-content: center;
}
.menu .actions button img {
  aspect-ratio: 1;
  height: 40px;
}
.menu .actions button.start {
  width: 55%;
  margin-right: 1rem;
  background-color: var(--accent);
}
.menu .actions button.surrender {
  width: 45%;
  background-color: var(--color-secondary);
}
.menu .actions button:hover {
  opacity: 0.7;
}

#boardgame {
  height: 85vh;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
}

#boardgame.over {
  pointer-events: none;
}

#boardgame .start_message {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
}

.cell {
  background-color: var(--cells-bg-def);
  border: 1px solid var(--color-secondary);
  display: grid;
  place-content: center;
  cursor: pointer;
  font-size: clamp(1.2rem, 1vw, 2rem);
  font-weight: bold;
}

.cell.over {
  pointer-events: none;
}

.cell:hover {
  background-color: transparent;
}

.cell.bomb {
  background-color: var(--bomb);
  color: var(--shadow);
  pointer-events: none;
  font-size: 2rem;
  background-image: url("./imgs/icons/cells_icons/bomb.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.cell.not {
  background-color: var(--cells-bg-not);
  cursor: default;
}

.cell.flagged {
  background-color: var(--cells-bg-flag);
  background-image: url("./imgs/icons/cells_icons/flag.svg");
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

.cell.flagged:hover {
  filter: brightness(120%);
}

footer {
  text-align: center;
  height: 5vh;
  display: flex;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  font-weight: 200;
  color: white;
}
footer a {
  color: white;
  transition: all 0.35s ease-in;
  font-weight: normal;
  padding-left: 0.2rem;
}
footer a:hover {
  background-color: var(--bomb);
  padding: 0.3rem 0.7rem 0.3rem 0.2rem;
  border-radius: 4px;
  margin-left: 0;
}

.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.modal .overlay {
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-bg);
  position: absolute;
  inset: 0;
}
.modal .modal_show {
  width: 700px;
  height: 350px;
  border-radius: 15px;
  background-color: var(--body-bg);
  box-shadow: inset 0 0 10px var(--color-deny), inset 0 0 18px var(--bg-color-secondary), inset 0 0 25px var(--bg-color-dark);
  z-index: 2;
  padding: 1.5rem;
}
.modal .modal_show .modal_message {
  padding: 1.5rem;
  width: 100%;
  height: 80%;
  color: var(--text-color);
  font-size: 1.75rem;
}
.modal .modal_show .actions {
  height: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 0.7rem;
}
.modal .modal_show .actions .modal_button {
  padding: 0.5rem 2rem;
  margin-left: 1rem;
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.modal .modal_show .actions .modal_button.surrender {
  background-color: var(--button-muted-bg);
}
.modal .modal_show .actions .modal_button.surrender:hover {
  filter: brightness(85%);
}
.modal .modal_show .actions .modal_button.continue {
  background-color: var(--accent);
}
.modal .modal_show .actions .modal_button.continue:hover {
  filter: brightness(85%);
}

:root {
  transition: all 0.8s ease-in;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-secondary);
  background-color: var(--body-bg);
  color: var(--text-color);
  background-image: url("./imgs/BG.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-inline: auto;
}

.hidden {
  pointer-events: none;
  opacity: 0;
}/*# sourceMappingURL=style.css.map */