@import './style/vars';
@import './style/header';
@import './style/menu';
@import './style/boardgame';
@import './style/footer';
@import './style/modal';

// reset
:root {
  transition: all .8s ease-in;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-secondary);
  background-color: var(--body-bg);
  color: var(--text-color);
  background-image: url('./imgs/BG.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-inline: auto;
}

.hidden {
  pointer-events: none;
  opacity: 0;
}