@import './vars.scss';

// reset

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  // height: 100vh;
  font-family: $font-secondary;
  background-color: $bg-color;
  color: $clear;
  background-image: url('./imgs/BG.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.modal {
  &.hidden {
    pointer-events: none;
    opacity: 0;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;

  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba($bg-color, .7);
    position: absolute;
  }

  .modal_show {
    width: 700px;
    height: 350px;
    border-radius: 30px;
    background-color: $shadow;
    box-shadow:
      inset 0 0 10px $bomb,
      inset 0 0 18px $bomb,
      inset 0 0 25px $bg-color;
    z-index: 2;
    padding: 1.5rem;

    .modal_message {
      padding: 1.5rem;
      width: 100%;
      height: 80%;
      color: $clear;
      font-size: 1.75rem;
    }

    .actions {
      height: 20%;
      display: flex;
      justify-content: end;
      align-items: center;
      padding-right: .7rem;

      .modal_button {
        padding: .5rem 2rem;
        margin-left: 1rem;
        color: $clear;
        border: none;
        border-radius: 10px;
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;
        position: relative;

        &.confirm {
          background-color: $bg-color-clear;
        }

        &.deny {
          background-color: $deny;
        }

        &:hover {
          filter: brightness(80%);
        }
      }
    }
  }
}

main {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-inline: auto;

  .options {
    display: flex;
    flex-direction: column;
    width: 20%;
    .options-head {
      display: flex;
      justify-content: space-between;
      margin-bottom: $fz-16;
      font-size: 2.2rem;
      font-family: $font-primary;
      color: $accent;
      &.bad {
        color: $color-deny;
      }
    }
    .options_wrap {
      margin-bottom: $fz-16;

      label {
        display: block;
        margin-bottom: .2rem;
        color: $clear;
        font-weight: bold;
        font-size: $fz-14;
      }

      select {
        width: 100%;
        background-color: $option-bg-color;
        color: $clear;
        padding: .5rem 1rem;
        border: none;
        border-radius: $px5;
        font-size: $fz-12;
      }
    }

    button {
      padding: .8rem 1rem;
      background: $option-bg-color;
      color: $clear;
      font-size: $fz-12;
      text-transform: capitalize;
      border-radius: $px5;
      border: none;
      cursor: pointer;
      margin-bottom: $fz-12;
      transition: all .2s ease-out;

      &:hover {
        background-color: rgba($color: $color-primary, $alpha: 1);
      }
    }
  }
}

@import './header';

// boardgame

#boardgame {
  height: 85vh;
  // background-color: rgba($black, .2);
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 1 / 1;
  border: 1px solid $color-secondary;
}

#boardgame.over {
  pointer-events: none;
}

#boardgame .start_message {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
}

// cells

.cell {
  background-color: rgba($color: $color-primary, $alpha: .3);
  border: 1px solid $color-secondary;
  display: grid;
  place-content: center;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
}

.cell.over {
  pointer-events: none;
}

.cell:hover {
  filter: brightness(200%);
}

.cell.bomb {
  background-color: $bomb;
  color: $shadow;
  pointer-events: none;
  font-size: 2rem;
}

.cell.not {
  background-color: $bg-color-secondary;
  cursor: default;
}

.cell.not:hover {
  filter: brightness(100%);
}

.cell.flagged {
  background-color: rgba($color: $accent, $alpha: .7);
  font-size: 2.6rem;
  background-image: url('./imgs/flag-solid.svg');
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
}

.cell.flagged:hover {
  filter: brightness(130%);
}

footer {
  text-align: center;
  height: 5vh;
  line-height: 80px;

  a {
    color: $clear;
    transition: all .35s ease-in;
    padding-left: .7rem;

    &:hover {
      background-color: $bomb;
      padding: 2.2rem .7rem 1.2rem .7rem;
      border-radius: 4px;
    }
  }
}