footer {
  text-align: center;
  height: 5vh;
  display: flex;
  align-items: center;
  width: 80%;
  margin-inline: auto;
  font-weight: 200;
  color: white;

  a {
    color: white;
    transition: all .35s ease-in;
    font-weight: normal;
    padding-left: .2rem;

    &:hover {
      background-color: var(--bomb);
      padding: .3rem .7rem .3rem .2rem;
      border-radius: 4px;
      margin-left: 0;
    }
  }
}