// // vars
// // $bg-color: #0b525b;
// // $bg-color-clear: #14b9a3;
// $bomb: #ef476f;
// // $deny: #ec2251;
// $shadow: #1b3a4b;
// $clear: white;
// $dark: #001220;

// $accent: #34c16a;
// $bg-color: #7420d5;
// $bg-color-secondary: #9C21BD;
// $bg-color-dark: #4d194d;
// $color-primary: #0094d1;
// $color-secondary: #9bd9e8;
// $color-deny: #ec2251;
// $option-bg-color: rgba($color: $color-primary, $alpha: .55);

// // typography

// @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Inria+Sans:ital,wght@0,700;1,700&display=swap');

// $fz-10: 1rem;
// $fz-12: 1.2rem;
// $fz-14: 1.4rem;
// $fz-16: 1.6rem;

// $font-primary: 'Inria Sans', sans-serif;
// $font-secondary: 'Inconsolata', monospace;

// // pxs

// $px5: 5px;

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400&family=Inria+Sans:ital,wght@0,700;1,700&display=swap');


// vars
:root {
  --bomb: rgb(239, 71, 111);
  --shadow: rgb(27, 58, 75);
  --text-color: rgb(255, 255, 255);
  --body-bg: rgb(0, 18, 32);
  --black: rgb(0, 0, 0);

  --accent: rgb(52, 193, 106);
  --bg-color: #7420d5;
  --bg-color-secondary: #9C21BD;
  --bg-color-dark: rgb(77, 25, 77);
  --modal-overlay-bg: rgba(77, 25, 77, .45);
  --color-primary: rgb(0, 148, 209);
  --color-secondary: #9bd9e8;
  --color-deny: rgb(236, 34, 81);
  --option-bg-color: rgba(0, 148, 209, .55);
  --cells-bg-def: rgba(0, 148, 209, .2);
  --cells-bg-not: rgba(77, 25, 77, .7);
  --cells-bg-flag: rgba(52, 193, 106, .75);
  --button-active-bg: rgba(52, 193, 106, .8);
  --button-muted-bg: rgba(236, 34, 81, .8);
  --cells-color-1: 

  --fz-10: 1rem;
  --fz-12: 1.2rem;
  --fz-14: 1.4rem;
  --fz-16: 1.6rem;

  --font-primary: 'Inria Sans', sans-serif;
  --font-secondary: 'Inconsolata', monospace;
  --px5: 5px;

  &.light {
    --text-color: #001220;
    --body-bg: white;
  }
}